@{
    ViewBag.Title = "Delete Parent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model Parents

<div class="dashboard-page-one">
    <div class="dashboard-content-one">
        <div class="breadcrumbs-area">
            <h3>Parent</h3>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Admin")">Home</a>
                </li>
                <li>Parent Details</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Are you sure you want to delete this parent?</h3>
                    </div>
                </div>
                <div class="single-info-details">
                    @*<div class="item-img">
                        <img src="~/Content/img/figure/teacher.jpg" alt="parent">
                    </div>*@
                    <div class="item-content">
                        <div class="header-inline item-header">
                            <h3 class="text-dark-medium font-medium">@Html.Label("FullName", Model.FullName, new { @class = "text-dark-medium font-medium" })</h3>
                        </div>
                        <div class="info-table table-responsive">
                            <table class="table text-nowrap">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>@Html.Label(Model.FullName, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>City:</td>
                                        <td>@Html.Label(Model.City, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                        @using (Html.BeginForm("Delete", "Parent", FormMethod.Post))
                        {
                            <div class="col-12 form-group mg-t-8">
                                <input type="submit" value="Delete" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {}