@using SchoolDiarySystem.Models
@model Reviews

<div class="dashboard-page-one">
    <div class="dashboard-content-one">
        <div class="breadcrumbs-area">
            <h3>Review</h3>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Director")">Home</a>
                </li>
                <li>Review Details</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="single-info-details">
                    <div class="item-content">
                        <div class="header-inline item-header">
                            <h3>Details</h3>
                            <div class="header-elements">
                                <ul>
                                    <li><a href="#"><i class="fas fa-print"></i></a></li>
                                    <li><a href="#"><i class="fas fa-download"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p>@Html.Label("Content", Model.Comment.Comment.ToString())</p>
                        <div class="info-table table-responsive">
                            <table class="table text-nowrap">
                                <tbody>
                                    <tr>
                                        <td>Review:</td>
                                        <td><p>@Html.Label("Review", Model.Review.ToString(), new { @class = "font-medium text-dark-medium" })</p></td>
                                    </tr>
                                    <tr>
                                        <td>Review Date:</td>
                                        <td>@Html.Label(Model.ReviewDate.ToString("dd MMMM yyyy"), new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @using (Html.BeginForm("Update", "Review", new { id = Model.CommentID }, FormMethod.Post))
                                            {
                                                <div class="col-12 form-group mg-t-8">
                                                    <input type="submit" value="Update" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            @using (Html.BeginForm("Index", "Comment", FormMethod.Post))
                                            {
                                                <div class="col-12 form-group mg-t-8">
                                                    <input type="submit" value="Back to List" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {}
